<!DOCTYPE html>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Risk Dashboard</title>
    <link rel="shortcut icon" type="image/jpeg" href="static/images/joust.jpeg">
    <style> 
    	body { 
    		background-color:#F5F5F5; 
    	} 
    	h1 { 
    		text-align: center; 
    		color: black; 
    	} 
        h2 { 
            text-align: left; 
            color: black; 
        } 
        h3 { 
            text-align: left; 
            color: black; 
        } 
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 360px;
            width: 50%;
        }

	</style> 
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        	<h1> Error! </h1>
            <img src="static/images/confused.jpeg" alt="SwaggyP">
            <h2> The id that you provided does not appear to be working. </h2>
            <h3> Here are some suggestions: </h3>
            <dl>
              <dt>ID Number</dt>
              <dd>- Make sure the id is valid.</dd>
              <dt>Right id</dt>
              <dd>- Make sure you are using Joust ID.</dd>
              <dt>Examples</dt>
              <dd><span>&#9989;</span> Input id: 47 </dd>
              <dd><span>&#10060;</span> Input id: abv </dd>
            </dl>
        </div>
    </div>
</body>
</html>